---
layout: introduction
---
<div class="container-fluid fixed-top navbar-main-index pt-2 pb-2">
  <div class="container">
    <div class="row">
      <div class="col-sm-10 offset-sm-1">
        {% include navigation.html %}
      </div>
    </div>
  </div>
</div>
<div class="social-links-container">
    {% include social_links.html %}
</div>

 <div class="container">
	<div class="text-right mobile-menu">
		<img src="assets/img/svg/menu.svg" class="mobile-menu-img"  data-toggle="modal" data-target="#exampleModal">
	</div>
 	<div class="row mt-6" id="masthead">
 		<div class="col-sm-2 text-center mt-1">
			<img src="assets/img/eic_logo_1.png" width="150px" height="150px">
 		</div>
 		<div class="col-sm-9 text-left">
 			<div class="title pt-2">
 				<span class="block mb-2">Hi! We are</span>
 				<h1>EAST INDIA COMEDY</h1>
 			</div>
 		</div>
 	</div>
</div>


<div class="container-fluid homepage-image-container">

  <div class="container">
    <div class="row">
          <div class="col-md-12">
            <div id="profile-links-wrap">
              <div class="profile-links azeem-link">
                <a href="/profiles/AzeemBanatwalla/">Azeem Banatwalla &#10095;</a>
                <div class="quotes-box azeem-text">&ldquo;Effortlessly likeable&rdquo;
                  <div class="text-right">
                    <small>- The Hindu</small>
                  </div>
                </div>
              </div>

              <div class="profile-links sapan-link">
                <a href="/profiles/SapanVerma/">Sapan Verma &#10095;</a>
                <div class="quotes-box sapan-text">&ldquo;The hot favourite of the audience&rdquo;
            			<div class="text-right">
            				<small>- The Indian Express</small>
            			</div>
            		</div>
              </div>

              <div class="profile-links angad-link">
          			<a href="/profiles/AngadSinghRanyal/">Angad Singh Ranyal &#10095;</a>
                <div class="quotes-box angad-text">&ldquo;Seriously Funny&rdquo;
                  <div class="text-right">
                    <small>- Delhi Times</small>
                  </div>
                </div>
          		</div>

              <div class="profile-links kunal-link">
          			<a href="/profiles/KunalRao/">Kunal Rao &#10095;</a>
                <div class="quotes-box kunal-text">&ldquo;Effortlessly funny&rdquo;
                  <div class="text-right">
                    <small>- Mumbai Mirror</small>
                  </div>
                </div>
          		</div>

              <div class="profile-links sahil-link">
          			<a href="/profiles/SahilShah/">Sahil Shah &#10095;</a>
                <div class="quotes-box sahil-text">&ldquo;A perennial rib tickle&rdquo;
                  <div class="text-right">
                    <small>- Indian Express</small>
                  </div>
                </div>
          		</div>

            </div>
          </div>
        </div>
  </div>

</div>
 <!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="false">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <!-- <div class="modal-header no-border">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <h2 aria-hidden="true">&times;</h2>
        </button>
      </div> -->
      <div class="modal-body">
      	<div>
      		<button type="button" class="close" data-dismiss="modal" aria-label="Close">
         	 	<span aria-hidden="true">&times;</span>
        	</button>
    	</div>
      	<div>
      		<h4><a href="/" title="Introduction" class="nav-items text-muted">Introduction</a></h4>
      	</div>
      	<div>
      		<h4 data-toggle="collapse" data-target="#comedy">
      			<a title="comedy" class="nav-items text-muted team-dropbtn">Comedy <h4 class="caret"></h4> </a>
      		</h4>
      		<div id="comedy" class="collapse">
      			<div class="comedy-type">
	  				<a href="/live-comedy">
	  					<h5>LIVE</h5>
	  				</a>
	  			</div>
	  			<hr>
	  			<div class="row text-left">
	  				<div class="col-sm-12 pl-4 pr-4 pt-2 pb-2">
	  					<a href="/live-comedy/#live-stand-up" >
		  					<div class="comedy-item-link">
		  						Live stand Up
		  					</div>
	  					</a>
	  					<a href="/live-comedy/#college-shows" >
		  					<div class="comedy-item-link">
		  						College Shows
		  					</div>
	  					</a>
	  					<a href="/live-comedy/#corporate-events" >
		  					<div class="comedy-item-link">
		  						 Corporate Events
		  					</div>
	  					</a>
	  				</div>
	  			</div>
	  			<div class="comedy-type">
  				<a href="/digital-comedy">
  					<h5>DIGITAL</h5>
  				</a>
	  			</div>
	  			<hr>
	  			<div class="row text-left">
	  				<div class="col-sm-12 pl-4 pt-2 pb-2 ">
	  					<a href="/digital-comedy/#comedy-videos" >
		  					<div class="comedy-item-link">
		  						Comedy Videos
		  					</div>
	  					</a>
	  					<a href="/digital-comedy/#branded-content">
		  					<div class="comedy-item-link">
	  							Branded Content
		  					</div>
	  					</a>
	  				</div>
	  			</div>
			</div>
      	</div>
      	<div>
      		<h4 data-toggle="collapse" data-target="#team">
      			<a title="team" class="nav-items text-muted team-dropbtn">Team <h4 class="caret"></h4> </a>
      		</h4>
      		<div id="team" class="collapse">
				{% for profile in site.profiles %}
			    <a href="{{profile.url}}">
			    	<div class="container">
			    		<div class="row">
			    			<div class="col-sm-12 profile-nav-link">
			    				<img src="{{profile.avatar}}" alt="Avatar" class="avatar">
			    			</div>
			    			<div class="col-sm-9 profile-nav-link">
			    				<h5>{{profile.title}}</h5>
			    				<p class="text-muted">{{profile.quotes}}</p>
			    			</div>
			    		</div>
			    	</div>
			    </a>
			    {% endfor %}
			</div>
      	</div>
      	<div>
			<h4 ><a href="#" title="Tickets" class="nav-items text-muted">Tickets</a></h4>
		</div>
		<div>
			<h4><a href="#" title="Merchandise" class="nav-items text-muted">Merchandise</a></h4>
		</div>
		<div>
			<h4><a href="#contact-us" title="Contact Us" class="text-black nav-items">Contact Us</a></h4>
		</div>

      </div>
    </div>
  </div>
</div>
