
<div class="container-fluid pt-5 footer-outer-container">
	<div class="container">
		<div class="row pb-4">
			<div class="col-sm-12">
				<a id="contact-us" name="contact-us"></a>
				<h2 class="text-muted">Contact Us</h2>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6 pb-5">
				<div class="contact-info">
					<p>
						Want find out more about what we do? Hire us for an upcoming gig or event? Create a video and 	help you market your products? Send lewd and creepy messages?
					</p>
					<p>
						For all but that last one, fill in the box below and the magic of computer science will send these messages to our managers who will reply speedily because they take a cut from our earnings.</p>
					<p>
						Or, if you’re the impatient variety, call our management at the numbers below
					</p>
					<div>
						<div>	Live queries: </div>
						<div>	Veena Janaj - +91-8446941935  </div>
						<div>	Hariharan Mahadevan - +91-8147570365  </div>
						<br>
						<div>	Digital content:  </div>
						<div>	Philip Zuzarte - +91-9819847795  </div>
						<div>	Preranaa Khatri - +91-9833001039  </div>
					</div>
				</div>
			</div>
			<div class="col-sm-6 text-center pb-5">
				<form action="#" class="pb-4">
					<input type="text" class="form-control form-control-lg mb-4" placeholder="Name" name="" required>
					<input type="text" class="form-control form-control-lg mb-4" placeholder="Email Id" name="" required>
					<input type="text" class="form-control form-control-lg mb-4" placeholder="Conatct number" name="" required>
					<textarea class="form-control" id="exampleFormControlTextarea1" placeholder="Description" rows="4" required></textarea>
					<div class="mt-4">
						<span class="mail-button-container"><button type="submit" class="mail-button"> Send Mail </button></span>
					</div>

				</form>
			</div>
		</div>
	</div>
</div>
