<div class="container-fluid nav-inner-container">
	<ul class="row text-center mb-1">
		<li class="nav-block">
			<span><a href="/" title="Home" class="nav-items color-inherit"> <span class="lnr lnr-home icon-large"></span> Home</a></span>
		</li>
		<li class="nav-block">
			<div class="team-dropdown">
			  <span ><a title="team" class="nav-items  team-dropbtn color-inherit">Comedy <i class="fas fa-caret-down"></i></a></span>
			  <div class="team-dropdown-content comedy-content dropdown-left-comedy">
  				<a href="/live-comedy" class='d-block text-left comedy-type border-r'>
  					<h3 class="comedy-type-title pt-4 pb-2">LIVE</h3>
		  			<div class="comedy-nav-links">
	  					<div class="pb-2">
	  						Live Stand Up
	  					</div>
	  					<div class="pb-2">
	  						College Shows
	  					</div>
	  					<div class="pb-2">
	  						 Corporate Events
	  					</div>
	  				</div>
  				</a>
  				<a href="/digital-comedy" class='d-block text-right comedy-type'>
						<h3 class="comedy-type-title pt-4 pb-2">DIGITAL</h3>
		  			<div class="comedy-nav-links">
	  					<div class="pb-2">
	  						Comedy Videos
	  					</div>
	  					<div class="pb-2">
  							Branded Content
	  					</div>
		  			</div>
  				</a>
			  </div>
			</div>
		</li>
		<li class="nav-block">
			<div class="team-dropdown">
			  <span ><a href="/profiles/" title="team" class="nav-items team-dropbtn color-inherit"><span class="lnr lnr-users icon-large"></span> Team <i class="fas fa-caret-down"></i></a></span>
			  <div class="team-dropdown-content dropdown-left-team">
				{% for profile in site.profiles %}
			    <a href="{{profile.url}}">
			    	<div class="container">
			    		<div class="row">
			    			<div class="col-sm-3">
			    				<img src="{{profile.avatar}}" alt="Avatar" class="avatar">
			    			</div>
			    			<div class="col-sm-9 profile-nav-link">
			    				<h5 class="margin-0 mt-3">{{profile.title}}</h5>
			    				<p class="text-muted">{{profile.quotes}}</p>

			    			</div>
			    		</div>
			    	</div>
			    </a>
			    {% endfor %}
			  </div>
			</div>
		</li>
		<li class="nav-block">
			<span ><a href="/tickets/" title="Tickets" class="nav-items color-inherit"><i class="fas fa-ticket-alt"></i> Tickets</a></span>
		</li>
		<li class="nav-block">
			<span><a href="#" title="Merchandise" class="nav-items color-inherit"><span class="lnr lnr-cart icon-large"></span> Merchandise</a></span>
		</li>
		<li class="nav-block">
			<span><a href="#contact-us" title="Contact Us" class="color-inherit nav-items"><span class="lnr lnr-phone"></span> Contact Us</a></span>
		</li>
	</ul>
</div>
