<div class="container">
	<div class="row mt-4">
		<div class="col-sm-12 text-right">
			<a target="_blank" href="https://www.facebook.com/EastIndiaComedy"><img src="/assets/img/png/facebook.png" width="25" height="25"></a>
			<a target="_blank" href="https://twitter.com/EastIndiaComedy"><img src="/assets/img/png/twitter.png" width="25" height="25"></a>
			<a target="_blank" href="#"><img src="/assets/img/png/pinterest.png" width="25" height="25"></a>
			<a target="_blank" href="https://soundcloud.com/eastindiacomedy"><img src="/assets/img/png/soundcloud.png" width="25" height="25"></a>
		</div>
	</div>
</div>
