<div class="row text-center ">
	<div class="col-sm-12 team-container">
    	<div class="eic-team">
    		<img src="/assets/img/team-eic-Sapan.jpg " height="350">
			<div class="profile-links link1"><a href="/profiles/SapanVerma/">Sapan Verma &#10095;</a> </div>
    	</div>
    	<div class="eic-team">
    		<img src="/assets/img/team-eic-Azeem.jpg " height="350">
    		<div class="profile-links link2"><a href="/profiles/AzeemBanatwalla/">Azeem Banatwalla &#10095;</a></div>
    	</div>
    	<div class="eic-team">
    		<img src="/assets/img/team-eic-Sahil.jpg " height="350">
    		<div class="profile-links link3"><a href="/profiles/SahilShah/">Sahil Shah &#10095;</a></div>
    	</div>
    	<div class="eic-team">
    		<img src="/assets/img/team-eic-Angad.jpg " height="350">
    		<div class="profile-links link4"><a href="/profiles/AngadSinghRanyal/">Angad Singh Ranyal &#10095;</a></div>
    	</div>
    	<div class="eic-team">
    		<img src="/assets/img/Kunal 2.jpg " height="350">
    		<div class="profile-links link5"><a href="/profiles/KunalRao/">Kunal Rao &#10095;</a></div>
    	</div>
	</div>
</div>